{
  "presets": [ "react", "env" ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "collections": "./src/components/collections",
        "elements": "./src/components/elements",
        "general-widgets": "./src/components/general-widgets",
        "inputs": "./src/components/inputs",
        "layout": "./src/components/layout",
        "media": "./src/components/media",
        "property-page-widgets": "./src/components/property-page-widgets",
        "typography": "./src/components/typography",
        "utils": "./src/utils",
      }
    }]
  ]
}
