{
  "presets": [ "react", "env" ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "collections": "./src/components/collections",
        "elements": "./src/components/elements",
        "layout": "./src/components/layout",
        "typography": "./src/components/typography",
        "widgets": "./src/components/widgets",
      }
    }]
  ]
}
