/*******************************
            Theme
*******************************/

@type : 'lodgify-ui-component';

@element : 'contact-header';

@import (multiple) "../../theme.config";

/*--------------------------
        Contact Header
--------------------------*/

.contact-header {
  background: @white;

  > * {
    opacity: 1;
  }

  .ui.dropdown {

    > .text {
      color: @contactHeaderTextGray;
    }
  }

  > div > .flex-container {
    padding-top: @contactHeaderContainerPadding;
    padding-bottom: @contactHeaderContainerPadding;
    box-shadow: @contactHeaderContainerBoxShadow;
    z-index: @contactHeaderContainerZIndex;
    position: relative;

    .horizontal-menu {

      .item:after {
        top: @contactHeaderUnderlineHeight;
        height: @contactHeaderUnderlineTop;
      }
    }

    .ui.button {
      height: @contactHeaderButtonHeight;
      border-radius: @contactHeaderButtonBorderRadius;
      box-shadow: @contactHeaderButtonBoxShadow;
      color: @contactHeaderButtonColor;
      margin-right: @contactHeaderButtonMarginRight;
    }

    &:not(nav) .ui.menu i.icon svg > path {
      fill: @contactHeaderTextGray;
    }

    > .ui.menu i.icon.has-label > p {
      color: @contactHeaderTextGray;
    }
  }

  
  .flex-container {
    background-color: @white;

    .link.item {
      margin: auto;
      
      @media @mobileViewport {
        margin: unset;
        margin-right: auto;
      }
    }

    .ui.menu {
      margin-bottom: 0;
      box-shadow: none;
      border: none;
  
      .item {
  
        &:before {
          display: none;
        }
      }
    }
  }

  .ui.header {
    margin: auto;
  }

  .ui.button {
    margin-left: auto;
  }

  .horizontal-menu {

    &.is-header {
      margin: @contactHeaderHorizontalMenuMargin;
    }

    .menu-wrapper {
      margin: auto;
      width: unset;

      .menu-wrapper > a:last-child {
        margin-right: @contactHeaderMenuMargin;
      }

      .menu-wrapper > a:first-child {
        margin-left: @contactHeaderMenuMargin;
    }

      .ui.item.pointing.dropdown {
        margin-right: 0 !important;
      }
    }
  }

  .hidden-contact-header {

    .ui.header {
      margin-left: 0;
    }
  }
}

.ui.modal.hidden-contact-header-modal {
  display: inline-block;

  .header {
    border-bottom: none;
    padding-top: @contactHeaderModalPaddingTop;

    .link.item {
      text-decoration: none;
    }
  }

  .content {
    height: @contactModalContentHeight;
  }

   > .icon.has-label {
    top: 0;
    padding-top: @contactHeaderModalIconPaddingTop;
    padding-bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    p {
      margin-right: @contactHeaderModalIconTextMarginRight;
    }

    svg {
      height: @contactHeaderModalIconSize;
      width: @contactHeaderModalIconSize;
      background: transparent;
      box-shadow: none;

      path {
        fill: @black;
      }
    }
  }

  .ui.vertical.menu {
    margin: 0 !important;
    box-shadow: none;
    border: none;
    max-width: none;
    width: 100%;

    .item {
      padding-top: @contactHeaderVerticalMenuItemPaddingTop;
      border-bottom: none;

      &:before {
        display: none;
      }

      &:first-child {
        padding-top: @contactHeaderVerticalMenuItemPaddingTop;
      }
    }
  }
}