/*******************************
            Theme
*******************************/

@type     : 'lodgify-ui-component';

@element  : 'counter';

@import (multiple) '../../theme.config';

/*----------------------
    Block Placeholder
-----------------------*/

.ui.counter {
  width: @width;

  .flex-container * {
    margin: 0;
  }
}
