/*******************************
            Theme
*******************************/

@type: "lodgify-ui-component";

@element: "gallery";

@import (multiple) "../../theme.config";

/*--------------------------
        Gallery
--------------------------*/

.modals {
  .modal {
    &.is-lightbox {
      &.fullscreen > .icon > svg {
        background-color: transparent;
        box-shadow: @galleryButtonBoxShadow;
      }

      > .content {
        background-color: @galleryContentBackgroundColor;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;

        > p {
          color: @white;
        }

        .image-gallery {
          width: 100%;

          .image-gallery-content {
            .image-gallery-slide-wrapper {
              height: @gallerySlideshowContentHeight;
              max-height: @gallerySlideshowContentMaxHeight;
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin-bottom: @gallerySlideshowContentMarginBottom;

              @media only screen and (max-width: @computerBreakpoint) {
                min-height: @gallerySlideshowContentMinHeight;
              }

              .image-gallery-index {
                background-color: transparent;
                top: initial;
                align-self: center;
                right: initial;
                bottom: @gallerySlideshowIndexBottomOffset;
              }

              .ui.circular.button {
                background: transparent;
                box-shadow: @galleryButtonBoxShadow;
              }
            }

            .image-gallery-thumbnails-wrapper {
              &:before {
                content: "";
                width: @galleryThumbnailLinearGradientWidth;
                height: @galleryThumbnailLinearGradientHeight;
                position: absolute;
                z-index: @galleryThumbnailLinearGradientZIndex;
                background: @galleryThumbnailLinearGradientBackgroundColor;
                background: @galleryThumbnailLinearGradientLeft;
                left: 0;
                top: @galleryThumbnailActiveGradientTopOffset;
              }

              &:after {
                content: "";
                width: @galleryThumbnailLinearGradientWidth;
                height: @galleryThumbnailLinearGradientHeight;
                position: absolute;
                z-index: @galleryThumbnailLinearGradientZIndex;
                background: @galleryThumbnailLinearGradientBackgroundColor;
                background: @galleryThumbnailLinearGradientRight;
                right: 0;
                top: @galleryThumbnailActiveGradientTopOffset;
              }

              .image-gallery-thumbnails {
                padding: @galleryThumbnailWrapperPadding;

                .image-gallery-thumbnails-container {
                  .image-gallery-thumbnail {
                    display: flex;
                    align-items: center;
                    transition: @galleryThumbnailActiveTransition;

                    &.active {
                      box-shadow: @galleryThumbNailActiveBoxShadow;
                      transition: @galleryThumbnailActiveTransition;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
