/*******************************
            Theme
*******************************/

@type: "lodgify-ui-component";

@element: "sticky-menu";

@import (multiple) "../../theme.config";

/*--------------------------
        Sticky Menu
--------------------------*/

.sticky-menu {
  position: sticky;
  top: 0;
  box-shadow: @stickyMenuBoxShadowY;
  background-color: @white;
}
